@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.logo{
    max-width: 100px;
}

.navigation li {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 25px;
    display: inline-block;
    padding: 20px 20px 0;
    transition: color .5s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: white;
}

.navigation li:hover{
    color: rgb(134, 159, 212);
    border-bottom: 1px solid #B5DEFF
}